<section class="col-sm-6 login-form">  
    <div class="login-container">
        <div class="login-header">
            <h2></span>¿Olvidaste tu contraseña?</h2>
        </div>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  			<%= devise_error_messages! %>
            <div class="login-content">
                <div class="form-group login">
                    <%= f.label :email,'Email' %><br />
                    <%= f.email_field :email, autofocus: true, class: "form-control" %>
                </div>
                <div class="divider"></div>
                <%= render "devise/shared/links" %>
                    <div class="actions">
            			<%= f.submit "Volver a enviar instrucciones", class: "btn btn-success pull-right" %>
          			</div>
                <div class="clearfix"></div>
                <% end %>
            </div>
    </div>
</section></section><br><br>