<%= form_for(@pedido) do |f| %>
  <% if @pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% @pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :nombre, 'Nombre del Paciente' %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :trabajo_id %><br>
    <%= collection_select(:pedido, :trabajo_id, Trabajo.all, :id, :nombre) %> 
  </div>
  <div class="field">
    <%= f.label :material_id %><br>
    <%= collection_select(:pedido, :trabajo_id, Material.all, :id, :nombre) %>
    <script src="multiple-select.js"></script>
    <script>
        $("select").multipleSelect({
            single: true,
            multipleWidth: 55,
            width: '10%'
        });
    </script>
    </script>
  </div>
  <div class="field">
  <label>Dientes</label>
    <div class="field">

    </div>
     
  </div>
  <div class="field">
    <%= f.label :observacion %><br>
    <%= f.text_area :observacion %>
  </div>
  <div class="field">
    Imagen de Observacion: <%= f.file_field :cover %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
