<p id="notice"><%= notice %></p>

<div class="field">
  <%= image_tag @pedido.cover.url() %>
</div>
<p>
  <strong>Nombre:</strong>
  <%= @pedido.nombre %>
</p>

<p>
  <strong>Trabajo:</strong>
  <%= @pedido.trabajo.nombre %>
</p>

<p>
  <strong>Material:</strong>
  <%= @pedido.material.nombre %>
</p>

<p>
  <strong>Dientes:</strong>
  <% @pedido.dientes.each do |diente| %>
      <h4><%= link_to diente.numero, diente %></h4>
  <%end%>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @pedido.observacion %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
