<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pedido.nombre %>
</p>

<p>
  <strong>Trabajo:</strong>
  <%= @pedido.trabajo.nombre %>
</p>

<p>
  <strong>Material:</strong>
  <%= @pedido.material.nombre %>
</p>

<p>
  <strong>Dientes:</strong>
  <%= @pedido.diente.numero %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @pedido.observacion %>
</p>
<p>
  <strong>Estado del Pedido:</strong>
  <div class="inlinesvg">
    <svg height="60" width="100%" vertical-align="middle">
      <g transform="translate(0,5)">
        <line x1="45" x2="405" y1="10" y2="10" stroke="rgb(0, 0, 0)" stroke-width="2"></line>
        <%if @pedido.state == "recibido"%>
          <g class="etapa" id="recibido" transform="translate(0,0)" fill="white">
            <circle cx="45" cy="10" r="12" stroke="rgb(0, 0, 0)" stroke-width="2" fill="orange"></circle>
            <text x="45" y="15" text-anchor="middle" fill="rgb(0, 0, 0)" class="numero" font-size="15px">1</text>
            <text x="45" y="40" text-anchor="middle" fill="black" class="etiqueta">Recibido</text>
          </g>
        <%else%>
          <g class="etapa" id="recibido" transform="translate(0,0)" fill="white">
            <circle cx="45" cy="10" r="12" stroke="rgb(0, 0, 0)" stroke-width="2"></circle>
            <text x="45" y="15" text-anchor="middle" fill="rgb(0, 0, 0)" class="numero" font-size="15px">1</text>
            <text x="45" y="40" text-anchor="middle" fill="black" class="etiqueta">Recibido</text>
          </g>
        <%end%>
        <%if @pedido.state == "diseño"%>
          <g class="etapa" id="diseño" transform="translate(90,0)" fill="white">
            <circle cx="45" cy="10" r="12" stroke="rgb(0, 0, 0)" stroke-width="2" fill="orange"></circle>
            <text x="45" y="15" text-anchor="middle" fill="rgb(0, 0, 0)" class="numero" font-size="15px">2</text>
            <text x="45" y="40" text-anchor="middle" fill="black" class="etiqueta">En Diseño</text>
          </g>
        <%else%>
          <g class="etapa" id="diseño" transform="translate(90,0)" fill="white">
            <circle cx="45" cy="10" r="12" stroke="rgb(0, 0, 0)" stroke-width="2" class="cicule"></circle>
            <text x="45" y="15" text-anchor="middle" fill="rgb(0, 0, 0)" class="numero" font-size="15px">2</text>
            <text x="45" y="40" text-anchor="middle" fill="black" class="etiqueta">En Diseño</text>
          </g>
        <%end%> 
        <%if @pedido.state == "proceso" %> 
          <g class="etapa" id="proceso" transform="translate(180,0)" fill="white">
            <circle cx="45" cy="10" r="12" stroke="rgb(0, 0, 0)" stroke-width="2" fill="orange"></circle>
            <text x="45" y="15" text-anchor="middle" fill="rgb(0, 0, 0)" class="numero" font-size="15px">3</text>
            <text x="45" y="40" text-anchor="middle" fill="black" class="etiqueta">En Proceso</text>
          </g>
        <%else%>
          <g class="etapa" id="proceso" transform="translate(180,0)" fill="white">
            <circle cx="45" cy="10" r="12" stroke="rgb(0, 0, 0)" stroke-width="2"></circle>
            <text x="45" y="15" text-anchor="middle" fill="rgb(0, 0, 0)" class="numero" font-size="15px">3</text>
            <text x="45" y="40" text-anchor="middle" fill="black" class="etiqueta">En Proceso</text>
          </g>
        <%end%>
        <%if @pedido.state == "terminado" %>
          <g class="etapa" id="terminado" transform="translate(270,0)" fill="white">
            <circle cx="45" cy="10" r="12" stroke="rgb(0, 0, 0)" stroke-width="2" fill="orange"></circle>
            <text x="45" y="15" text-anchor="middle" fill="rgb(0, 0, 0)" class="numero" font-size="15px">4</text>
            <text x="45" y="40" text-anchor="middle" fill="black" class="etiqueta">Terminado</text>
          </g>
        <%else%>
          <g class="etapa" id="terminado" transform="translate(270,0)" fill="white">
            <circle cx="45" cy="10" r="12" stroke="rgb(0, 0, 0)" stroke-width="2"></circle>
            <text x="45" y="15" text-anchor="middle" fill="rgb(0, 0, 0)" class="numero" font-size="15px">4</text>
            <text x="45" y="40" text-anchor="middle" fill="black" class="etiqueta">Terminado</text>
          </g>
        <%end%>
        <%if @pedido.state == "despachado" %>
          <g class="etapa" id="despachado" transform="translate(360,0)" fill="white">
            <circle cx="45" cy="10" r="12" stroke="rgb(0, 0, 0)" stroke-width="2" fill="orange"></circle>
            <text x="45" y="15" text-anchor="middle" fill="rgb(0, 0, 0)" class="numero" font-size="15px">5</text>
            <text x="45" y="40" text-anchor="middle" fill="black" class="etiqueta">Despachado</text>
          </g>
        <%else%>
          <g class="etapa" id="despachado" transform="translate(360,0)" fill="white">
            <circle cx="45" cy="10" r="12" stroke="rgb(0, 0, 0)" stroke-width="2"></circle>
            <text x="45" y="15" text-anchor="middle" fill="rgb(0, 0, 0)" class="numero" font-size="15px">5</text>
            <text x="45" y="40" text-anchor="middle" fill="black" class="etiqueta">Despachado</text>
          </g>
        <%end%>
      </g>
    </svg>  
  </div>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
