<section class="col-sm-6 login-form">
   <div class="login-container">
        <div class="login-header">
          <h2> Iniciar Sesion</h2>
        </div>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name),html: {role: "form"}) do |f| %>
          <div class="login-content">
            <div class="form-group login">
              <div class="input-prepend">
                <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: 'Email' %>
                <div class="prepend"></div>
              </div>
            </div>

            <div class="form-group login">
              <div class="input-prepend">
                <div class="prepend"></div>
                <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: 'Password' %>
              </div>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me, 'Recordarme' %>
              </div>
            <% end -%>
            <div class="divider"></div>
             <%= render "devise/shared/links" %>
                <div class="actions">
                  <%= f.submit "Entrar", class: "btn btn-success"  %>
                </div>
                <div class="clearfix"></div>
            <% end %>
        </div>
    </div>
</section></section><br><br>