<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :trabajo_id %><br>
<<<<<<< HEAD
    <%= f.text_field :trabajo_id %>
=======
    <%= collection_select(:material, :trabajo_id, Trabajo.all, :id, :nombre) %> 
>>>>>>> f169e474be587b3ee9ee0633471e5a58ceb41854
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
